@import url('bootstrap');

.bg-card-overlay {
  background: linear-gradient(0deg, rgba(30, 30, 30, 0.7) 30%, rgba(30, 30, 30, 0) 100%);
}

.actor-card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 400px;

  aspect-ratio: 1;

  overflow: hidden;
}